<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>submission</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
    <h1>Registration success !</h1>
    <table>
        <tr><td style="color: cornsilk;">Name</td><td>{{Name}}</td></tr>
        <tr><td style="color: cornsilk;">E-Mail</td><td>{{email}}</td></tr>
    </table>
</body>
</html>